
<title>COVID-19 Assistant</title>
<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
<link rel="stylesheet" href="static/bootstrap-theme.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container" style="padding-top: 50px">
    <center><img src="/static/logo_corona.png" width="40%"></center>
</div>

<div class="container" style="padding-top: 50px">
    <center><p><h5>Find recommendations from the Swedish Public Health Agency (Folkhälsomyndigheten) in your language.</h5></p></center>
</div>

<div class="container" style="padding-top: 50px">
<form method="POST">
<div class="form-group">
      <label for="name">Your Question:</label>
<input type="text" class="form-control" id="name" name="text" placeholder="Type your question here, for example: 'I have a fever, should I stay home?'"></div>
<div class="form-group">
      <label for="name">Language of answer:</label>
<select type="text" class="form-control" id="lang" name="lang">
  <option selected>Preferred language for your answer</option>
  <option value="ar">عربى</option>
  <option value="zh-cn">中文</option>
  <option value="en">English</option>
  <option value="es">Español</option>
  <option value="fr">Francais</option>
  <option value="de">Deutsch</option>
  <option value="nl">Nederlands</option>
  <option value="it">Italiano</option>
  <option value="ja">日本語</option>
  <option value="ko">한국어</option>
  <option value="pl">Polskie</option>
  <option value="pt">Português</option>
  <option value="th">ภาษาไทย</option>
  <option value="tr">Türk</option>
  <option value="ru">русский</option>
</select></div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>

{% if query %}
<div class="container">
    <div class="alert alert-dark" id="query_div">
        <h5>Your current query: {{ query }}</h5>
        Language: {{ language }}
    </div>
</div>
{% endif %}

<div class="container" id="results_div">
    <table border = 0>
        <tr>
            <td>
                <br />
                <br />
            </td>
        </tr>
        {% for translation in translations %}
        <div class="card border-success mb-3">
            <div class="card-header">
                {{ loop.index }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ translation.question }}</h5>
                <p class="card-text">{{ translation.answer|safe }}</p>
            </div>
            <div class="card-footer text-muted text-center">
                <p class="float-left">Last updated: {{ translation.updated
                    }}</p>
                {% if translation.source_link %}
                    <a
                            href="https://www.folkhalsomyndigheten.se/smittskydd-beredskap/utbrott/aktuella-utbrott/covid-19/fragor-och-svar/{{ translation.source_link.url }}" class="btn btn-outline-dark btn-sm float-right">
                        {{ translation.source_link.label }}
                    </a>
                {% endif %}

            </div>
        </div>
        <tr>
            <td>
                <br />
                <br />
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="container" id="footer">
    <center><p>Built by <a href="https://github.com/jannesgg/swe-covid-19-assistant"><img src="https://ideon.se/wp-content/uploads/ideon-images/combine-control-systems-ab-logo-682901.png"></a></p></center>
</div>

